/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	html {
		font-size: 9px;
	}
	section h3 br,
	p br {
		display: none;
	}
	.logo img {
		max-width: 200px;
	}
	.top_items {
		font-size: 14px;
	}
	header:before {
		background-position: 45% top;
	}
	.adv img {
		max-width: 100%;
	}
	.adv * {
		transform: none!important;
	}
	.adv h3 {
		top: 0;
	}
	.adv .adv_text.adv_text_right,
	.adv .adv_text.adv_text_left {
		padding-left: 5rem;
		padding-right: 5rem;
	}
	.question p {
		margin: 1.5rem 0;
	}
	.question ul {
		margin-bottom: 2rem;
	}
	.question:after {
		display: none;
	}
	.cols .cols_text {
		padding: 3rem 1rem;
	}
	.open_form_left p {
		max-width: 300px;
		font-size: 16px;
	}
	.open_form .open_form_left p.counter_head {
		font-size: 16px;
	}
	.open_form:before {
		display: none;
	}
	.hub .hub_right span {
		line-height: 9rem;
	}
	.rev p {
		margin-bottom: 0;
	}
	.prev {
		left: 340px;
	}
	.next {
		left: 410px;
	}
	.step .step_pict {
		max-width: 500px;
		top: -70px;
	}
	.online .online_right .girl {
		max-width: 100%;
	}
	.online:before {
		display: none;
	}
	.online .online_right p a {
		display: block;
	}
	.adv .adv_text {
		height: 252px;
	}
	.adv_text_1 {
		position: relative;
		top: 113px;
	}
	.faq:before {
		display: none;
	}
	.hub .container:before {
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	footer .row div  {
		text-align: center;
	}
	.made_by p,
	.copyright p {
		font-size: 16px;
	}
	html {
		font-size: 8px;
	}
	.open_form {
		text-align: center;
	}
	.open_form h3 {
		text-align: center;
		margin-top: 0;
	}
	.open_form h3 br {
		display: none;
	}
	.open_form button {
		margin-top: 3rem;
	}
	p {
		margin-left: auto;
		margin-right: auto;
		max-width: 500px;
	}
	.open_form {
		height: auto;
		background-position: left top;
	}
	.open_form .open_form_left p {
		margin-left: auto;
		margin-right: auto;
	}
	section {
		padding: 60px 0;
	}
	.open_form .timer {
		margin-bottom: 4rem;
	}
	.open_form .main_btn {
		margin-left: auto;
		margin-right: auto;
	}
	.open_form .timer__item {
		padding-top: 1.5rem;
	}
	header:before {
		display: none;
	}
	header {
		background-image: url(../img/main_bg_tablet.jpg);
		background-repeat: no-repeat;
		background-position: center top;
		padding-bottom: 50px;
	}
	.adv_text_1 {
		top: 100px;
	}
	.adv .adv_text {
		height: 193px;
	}
	.question {
		padding-top: 50px;
	}
	.cols .cols_text h4 {
		font-size: 2rem;
	}
	.open_form {
		padding-top: 0;
	}
	.hub .hub_right span {
		line-height: 12rem;
	}
	.next {
		right: 15px;
		left: auto;
	}
	.prev {
		right: 75px;
		left: auto;
	}
	.rev .rev_hub {
		display: none;
	}
	.rev {
		padding-bottom: 60px;
	}
	.footer_logo img {
		max-width: 200px;
	}
	.faq img {
		max-width: 700px;
	}
	.faq h3:before {
		display: none;
	}
	.question .circle {
		display: none;
	}
	.hub:after {
		display: none;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.made_by {
		text-align: center;
	}
	.politics h3 {
		font-size: 23px;
	}
	footer {
		text-align: center;
	}
	html {
		font-size: 7.5px;
	}
	section {
		padding: 40px 0;
	}
	footer .row {
		display: block;
	}
	.contact {
		text-align: center;
	}
	.contact h3 {
		text-align: center;
	}
	.thanks_body {
		background-image: none;
	}	
	header .top_head {
		display: block;
	}
	header .top_head:after {
		display: table;
		content: "";
		clear: both;
	}
	.logo {
		width: 100%;
		margin-bottom: 10px;
	}
	.top_items img {
		display: none;
	}
	.top_items {
		display: block;
	}
	.worktime {
		display: none;
	}
	.top_phone {
		float: right;
	}
	.location {
		float: left;
		font-size: 16px;
	}
	.top_btn_mobile {
		display: block;
		text-align: right;
	}
	.top_phone {
		font-weight: bold;
		font-size: 18px;
	}
	section h3 {
		margin-bottom: 30px;
		text-align: center;
		font-size: 24px;
	}
	.adv {
		margin-bottom: -50px;
	}
	.adv .adv_text {
		height: 230px;
		text-align: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-left: -15px;
		margin-right: -15px;	
	}
	.adv_text_1 {
		top: 0;
	}
	.adv p {
		margin: 0;
	}
	.adv .row {
		margin-bottom: 0;
	}
	.adv .row img {
		z-index: 10!important;
		height: 225px;
		/*width: 100%;*/
	}
	.row_1 img {
		top: 30px;
	}
	.row_2 .col-sm-6:first-of-type {
		top: 185px;
	}
	.row_2 .col-sm-6:last-of-type {
		top: -185px;
	}
	.row_2 img {
		top: -65px;
	}
	.row_3 img {
		top: -65px;
	}
	.row_3 .col-sm-6:last-of-type {
		top: -85px;
	}
	.row_4 img {
		top: -340px;
	}
	.row_4 .col-sm-6:first-of-type {
		top: 90px;
	}
	.adv .pict_wrapper img {
		float: none;
	}
	.adv img {
		margin: 0 auto;
	}
	.adv h4 {
		font-size: 24px;
	}
	.adv p {
		font-size: 16px;
		line-height: 26px;
	}
	.question {
		padding-top: 0;
	}
	.question:before {
		background-image: url(../img/circle_left_mob.png);
		width: 151px;
		height: 440px;
		z-index: -1;
		top: 40px;
	}
	.question h4 {
		font-size: 24px;
	}
	.question p {
		font-size: 16px;
		line-height: 26px;
	}
	p {
		font-size: 16px;
		line-height: 26px;
	}
	.question img {
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
	}
	.cols {
		text-align: center;
	}
	.cols .cols_text p {
		margin-left: auto;
		margin-right: auto;
	}
	.cols .cols_text h4 {
		font-size: 24px;
	}
	.cols .main_btn {
		margin-left: auto;
		margin-right: auto;
	}
	.cols img {
		width: 100%;
	}
	.cols .cols_text {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.open_form h3 {
		font-size: 80px;
	}
	.open_form .timer {
		margin-top: 0;
	}
	.open_form .open_form_left p.counter_head {
		margin-bottom: 0;
		font-weight: bold;
	}
	.form_wrapper h6 {
		font-size: 24px;
	}
	.open_form button {
		margin-top: 8px;
	}
	.hub_left {
		text-align: center;
	}
	.hub .hub_left p {
		margin-bottom: 0;
		display: inline;
	}
	.hub .hub_right .hub_right_wrapper {
		display: block;
		margin-top: 30px;
	}
	.hub_right_wrapper_left {
		display: none;
	}
	.hub .hub_right .hub_right_wrapper p {
		font-weight: bold;
		padding-left: 115px;
		position: relative;
		margin-bottom: 50px;
	}
	.hub .hub_right .hub_right_wrapper p br {
		display: block;
	}
	.hub .hub_right .hub_right_wrapper p:last-of-type {
		margin-bottom: 0;
	}
	.hub .hub_right .hub_right_wrapper p:before {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		color: #f5d6ba;
		font-size: 100px;
		font-weight: bold;
		z-index: -1;
		line-height: 0.5;
	}
	.hub .hub_right .hub_right_wrapper p:first-of-type:before {
		content: "3+";
	}
	.hub .hub_right .hub_right_wrapper p:nth-of-type(2):before {
		content: "5+";
	}
	.hub .hub_right .hub_right_wrapper p:last-of-type:before {
		content: "200+";
	}
	.row.photos {
		margin-top: 50px;
		text-align: center;
	}
	.row.photos img {
		margin-bottom: 1px;
	}
	.rev {
		text-align: center;
	}
	.rev strong {
		margin: 30px 0;
		display: inline-block;
	}
	.rev strong br {
		display: none;
	}
	.rev p {
		margin-top: 40px;
	}
	.rev h3 {
		margin-bottom: 0;
	}
	.rev img {
		width: 100px;
		height: 100px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		z-index: 10;
	}
	.prev {
		right: auto;
		left: 15px;
		top: auto;
		bottom: 25px;
	}
	.next {
		left: auto;
		right: 15px;
		top: auto;
		bottom: 25px;
	}
	.rev p:before {
		left: 0;
		width: 100px;
		height: 100px;
		-webkit-background-size: cover;
		-ms-background-size: cover;
		background-size: cover;
		top: -35px;
	}
	.rev p:after {
		width: 100px;
		height: 100px;
		-webkit-background-size: cover;
		-ms-background-size: cover;
		background-size: cover;
		bottom: -20px;
	}
	.step {
		text-align: center;
	}
	.step h4 {
		font-size: 20px;
		margin-bottom: 5px;
	}
	.step img.main_picts {
		margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
	}
	.step p {
		margin-left: auto;
		margin-right: auto;
		max-width: 470px;
	}
	.step .main_btn {
		margin-left: auto;
		margin-right: auto;
	}
	.step h3 {
		margin-bottom: 0;
	}
	.faq h3 {
		font-size: 24px;
		text-align: center;
	}
	.faq {
		text-align: center;
		padding-top: 40px;
	}
	.faq p {
		margin-left: auto;
		margin-right: auto;
	}
	.faq h3:before {
		display: block;
		background-image: url(../img/pdf_m.png);
		width: 340px;
		height: 389px;
		left: 0;
		right: 0;
		margin: auto;
	}
	.faq .main_btn {
		margin-left: auto;
		margin-right: auto;
	}
	.faq .row {
		display: block;
	}
	.online .row {
		display: block;
		text-align: center;
	}
	.online .online_right .girl {
		display: none;
	}
	.online .form {
		text-align: center;
		margin-bottom: 60px;
	}
	.online .form input {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.online .form .main_btn {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.online .online_right p {
		font-size: 20px;
	}
	.online .online_right p a {
		font-size: 24px;
	}
	.online {
		padding-top: 40px;
	}
	.online:before {
		display: block;
		width: 357px;
		height: 269px;
		position: absolute;
		left: 0;
		top: auto;
		bottom: 150px;
		background-image: url(../img/online_mob.png);
		content: "";
	}
	.contact img {
		margin: 30px 0;
	}
	.contact .contact_item {
		display: block;
		width: 50%;
		float: left;
	}
	.contact .contact_item p {
		font-size: 14px;
	}
	.contact .contact_item br {
		display: block;
	}
	.contact .contact_item img {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 12px;
	}
	.copyright p {
		margin: 20px auto;
	}
	.contact .col-sm-4:after {
		clear: both;
		display: table;
		content: "";
	}
	.toggle_btn {
		display: block;
	}
	.menu {
		position: absolute;
		top: 0;
		margin: 0;
		background-color: rgb(0, 15, 54);
		opacity: 0.902;
		z-index: 10;
		width: -webkit-calc(100% - 30px);
		width: -moz-calc(100% - 30px);
		width: -ms-calc(100% - 30px);
		width: calc(100% - 30px);
		border-bottom: 2px solid rgb(245, 214, 186);
		padding-top: 90px;
		display: none;
	}
	.menu ul li {
		display: block;
		font-size: 16px;
		line-height: 60px;
		text-align: center;
		margin: 0;
	}
	.logo {
		position: relative;
		z-index: 20;
	}
	header {
		padding-bottom: 45px;
		background-color: #000f36;
		background-image: url(../img/main_mob.jpg);
		background-position: right top;
		position: relative;
	}
	header:before {
		background-image: url(../img/main_circle_mob.png);
		content: "";
		position: absolute;
		right: 0;
		top: auto;
		left: auto;
		bottom: -333px;
		width: 251px;
		height: 470px;
		display: block;
	}
	.trigger li {
		font-size: 16px;
		line-height: 24px;
		padding-left: 0;
		text-indent: 20px;
	}
	.trigger li:before {
		top: 8px;
		bottom: auto;
	}
}

@media only screen and (max-width : 630px) {
	h1 {
		font-size: 32px;
		line-height: 38px;
		display: inline;
	}
	h1 span {
		font-size: 24px;
	}
	h2 {
		font-size: 24px;
		line-height: 38px;
		display: inline;
	}
	section h3 {
		font-size: 24px;
		text-align: center;
	}
	header .top_head {
		margin-bottom: 20px;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.made_by p, .copyright p {
		font-size: 14px;
	}
	.share .timer__item {
		margin-right: 1rem;
		width: 60px;
		height: 60px;
	}
	.share .timer__item:last-of-type {
		margin-right: 0;
	}
	button#videoButton {
		width: 5rem;
		height: 5rem;
	}
	.open_form .timer__item {
		height: 60px;
		width: 60px;
		padding-top: 1rem;
	}
	section h3 {
		font-size: 2.8rem;
	}
	.open_form .timer__item {
		margin-right: 1rem;
	}
	.open_form .timer__item:after {
		top: 10px;
		right: -15px;
	}
	.form_wrapper  {
		padding: 3rem;
	}
}

@media only screen and (max-width : 380px) {
	h1 {
		font-size: 28px;
	}
	h1 span {
		font-size: 20px;
	}
	h2 {
		font-size: 20px;
	}
	section h3 {
		font-size: 2.4rem;
	}
	.contact .contact_item p {
		font-size: 12px;
	}
	.faq h3:before {
		max-width: 100%;
		-webkit-background-size: 100% 100%;
		-ms-background-size: 100% 100%;
		background-size: 100% 100%;
		height: 330px;
	}
	.online:before {
		max-width: 100%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.container {
		width: 1200px;
	}
}